
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-right-dir:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-odnoklassniki:before { content: '\e803'; } /* '' */
.icon-facebook-1:before { content: '\e804'; } /* '' */
.icon-youtube:before { content: '\e805'; } /* '' */
.icon-circle:before { content: '\e806'; } /* '' */
.icon-vkontakte:before { content: '\e807'; } /* '' */
.icon-location:before { content: '\e808'; } /* '' */
.icon-basket:before { content: '\e809'; } /* '' */