.catalog-main {
  background: #ffffff;

}

.catalog-main h2 {
  float:left;
  margin: 20px 25px 35px 0;
}

.catalog-main .nav-mini{
  float: right;
  margin-top: 28px;

  li {
    float: left;
    margin-right: 10px;

    a {
      font-size: 1em;
      color: $dark-font-color;

      &:hover {
        color: $main-link-color;
      }
    }
  }
}

.catalog-product {
  width: 50%;
  float: left;
  padding-right: 20px;
  margin-bottom: 25px;

  img {
    margin-bottom: 15px;
  }

  p {
    color: $dark-font-color;
    font-size: 1em;
    line-height: 18px;
  }

  .price {
    font-size: 1em;
    color: #4c93c3;
    font-weight: 900;
    float: left;
    margin-top: 7px;
  }

  .button {
    float: left;
    margin-left: 25px;
  }
}

@include respond-to(medium-screens) {
  .catalog-main h2 {
    margin: 20px 110px 35px 25px;
  }

  .side-menu {
    margin-right: 25px;
  }

  .catalog-block {
    width: 60%;
    float: left;


    .catalog-product {
      padding-right: 55px;
      margin-bottom: 60px;

      p {
        font-size: 0.875em;
      }
    }
  }

  .catalog-main .nav-mini{
    float: left;
    margin-top: 28px;

    li {
      margin-right: 15px;

      a {
        font-size: 0.9em;
      }
    }
  }
}

@include respond-to(large-screens) {
  .catalog-main h2 {
    margin: 20px 110px 35px 25px;
  }

  .catalog-main .nav-mini{
    float: left;
    margin-top: 28px;

    li {
      margin-right: 15px;

      a {
        font-size: 0.75em;
      }
    }
  }

  .side-menu {
    margin-right: 30px;
  }

  .catalog-block {
    width: 65%;
    float: left;


    .catalog-product {
      width: 33.33%;
      float: left;
      padding-right: 20px;
      margin-bottom: 60px;

      p {
        font-size: 0.875em;
      }
    }
  }
}

@include respond-to(wide-screens) {

  .catalog-main h2 {
    margin: 20px 110px 35px 25px;
  }

  .catalog-main .nav-mini{
    float: left;
    margin-top: 28px;

    li {
      margin-right: 15px;

      a {
        font-size: 0.75em;
      }
    }
  }

  .side-menu {
    margin-right: 40px;
  }

  .catalog-block {
    width: 70%;
    float: left;


    .catalog-product {
      width: 33.33%;
      float: left;
      padding-right: 25px;
      margin-bottom: 60px;

      p {
        font-size: 0.875em;
      }
    }
  }
}