.text {
  background: #ffffff;
}

.text h2 {
  margin-bottom: 25px;
}

.text p {
  color: $dark-font-color;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 20px;
}

.text video {
  display: block;
  margin: 25px auto;
  width: 85%;
}

@include respond-to(medium-screens) {
  .text {
    padding: 20px 0 30px;
  }
  .text p {
    font-size: 0.95em;
    padding: 0 25px 0 2px;
  }

  .text video{
    width: 70%;
    margin: 35px auto;
  }
}

@include respond-to(large-screens) {
  .text {
    padding: 20px 0 30px;
  }
  .text p {
    font-size: 0.75em;
    padding: 0 35px 0 2px;
  }

  .text video{
    width: 55%;
    margin: 40px auto;
  }
}

@include respond-to(wide-screens) {
  .text {
    padding: 30px 0 50px;
  }
  .text p {
    font-size: 0.75em;
    padding: 0 45px 0 2px;
  }

  .text video{
    width: 47%;
    margin: 45px auto;
  }
}