
        $medium: 767px;
        $large: 1000px;
        $huge: 1300px;



$light-font-color: #646464;
$dark-font-color:  #323232;
$super-light-font: #ffffff;
$main-link-color:  #dfad00;
$color-font: #4c93c3;
